version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./src:/app/src
    command: poetry run uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
